body {
	font-family: Montserrat, Ubuntu, sans-serif;
	width: 800px;
	margin: 80px auto;
}

a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}

h1, h2 {
	border-bottom: 1px solid #ddd;
}

h1 {
	font-size: 36pt;
	width: 100%;
	display: table;
	table-layout: fixed;
}
h1 > div {
	display: table-cell;
}
#title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#banner {
	display: table-cell;
	width: 5ch;
	text-align: right;
}

.icon {
	width: 16px;
	height: 16px;
	background-image: url(icons.svg);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
	margin-top: 1px;
	margin-right: 0.5em;
}

.status-none       > .icon { background-position:   0     0  ; }
.status-corrupted  > .icon { background-position: -16px   0  ; }
.status-queued     > .icon { background-position: -32px   0  ; }
.status-starting   > .icon { background-position: -48px   0  ; }
.status-running    > .icon { background-position:   0   -16px; }
.status-success    > .icon { background-position: -16px -16px; }
.status-failure    > .icon { background-position: -32px -16px; }
.status-errored    > .icon { background-position: -48px -16px; }
.status-cancelled  > .icon { background-position:   0   -32px; }
.repository        > .icon { background-position: -16px -32px; }
.commit            > .icon { background-position: -32px -32px; }
.job               > .icon { background-position: -48px -32px; }
.date              > .icon { background-position:   0   -48px; }
.duration          > .icon { background-position: -16px -48px; }

.job-box {
	border-width: 1px 1px 1px 10px;
	border-style: solid;
	display: table;
	table-layout: fixed;
	margin-bottom: 5px;
	width: 100%;
	box-sizing: border-box;
}
.job-box > div {
	display: table-cell;
	white-space: pre;
	overflow: hidden;
}
.job-box > div:nth-child(1) { width: 50%; }
.job-box > div:nth-child(2) { width: 27%; }

.job-box > div > div {
	margin: 5px;
}

.job-box.status-none      { border-color: #aaa; }
.job-box.status-corrupted { border-color: #f00; }
.job-box.status-queued    { border-color: #dc0; }
.job-box.status-starting  { border-color: #dc0; }
.job-box.status-running   { border-color: #dc0; }
.job-box.status-success   { border-color: #0c0; }
.job-box.status-failure   { border-color: #f00; }
.job-box.status-errored   { border-color: #f00; }
.job-box.status-cancelled { border-color: #aaa; }

a.page-next { display: block; float: right; }
a.page-next::after { content: " »"; }

a.page-prev { display: block; float: left; }
a.page-prev::before { content: "« "; }

.job-box.details {
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
}

.job-box.details > table > tbody > tr > td {
	padding: 2.5px 5px;
}

.job-box.details > table > tbody > tr > td:nth-child(1) {
	text-align: right;
}

.job-log {
	background-color: black;
	color: lightgray;
	padding: 0.5em;
	border-radius: 0.5em;
	overflow-x: auto;
}

.color-black         { color: #000; }
.color-blue          { color: #00B; }
.color-green         { color: #0B0; }
.color-cyan          { color: #0BB; }
.color-red           { color: #B00; }
.color-magenta       { color: #B0B; }
.color-yellow        { color: #BB0; }
.color-gray          { color: #BBB; }

.color-darkGray      { color: #555; }
.color-brightBlue    { color: #55F; }
.color-brightGreen   { color: #5F5; }
.color-brightCyan    { color: #5FF; }
.color-brightRed     { color: #F55; }
.color-brightMagenta { color: #F5F; }
.color-brightYellow  { color: #FF5; }
.color-white         { color: #FFF; }
